
.modal {
    display: block;
    width: 900px;
    max-width: 100%;
    position: fixed;
    left: 50%;
    z-index: 10000;
    margin-left: -450px;
    top: 3%;
    max-height: 94%;
    overflow: auto;
    background: #f9f9f9;
    background: rgba(255,255,255,.89);
    padding:  0 20px 10px;
    @include box-shadow(0px 0px 7px #111);
    @include border-radius(4px);
    
    .close-modal {
        position: absolute;
        top: 14px;
        right: 30px;
        cursor: pointer;
    }

    h2 {
        font-weight: 400;
        border-bottom: 1px solid #ccc;
        padding-right: 40px;
    }

    img { 
        max-width: 100%; 
    }

    .loader {
        margin: 20px auto;
        display: block;
        width: 32px;
        height: 32px;

    }
}