/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "build";
@import "overlays";


@mixin placeholder($c: #999) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color:    #{$c};
    }   
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #{$c};
    }   
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #{$c};
    }   
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #{$c}; 
	}   
}

$os: 'Oswald', sans-serif;

.fr { float: right; }
.fl {float: left;}
.s9 { font-size: .9em; }

* { 
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

html { height: 100% }
body { 
	height: 100%;
	position: relative;
	font-size: 14px;
	font-family: sans-serif;
	background: url("../images/dark_matter.png");
	padding: 20px;

    &:after {
        content: "";
        position: fixed;
        display: none;
        left: 0;
        top: 0px;
        width: 100%; 
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 9911;
    }

    &.active-modal { overflow: hidden; }

    &.active-modal::after {
        display: block;
    }
}

header {
	@include border-radius(2px 2px 0 0);
	@include clearfix();
	border-top: 1px solid #444;
	margin: 10px 10px 0;
	background: #222;
	padding: 0 10px;

	button {
		@include border-radius(0 4px 4px 0);
		border: 1px solid #555;
		line-height: 38px;
		margin-left: 1%;
		width: 19%
	}

	input {
		@include border-radius(4px 0 0 4px);
		width: 80%;
	}
}

.map-canvas { 
	@include border-radius(0 0 3px 3px);
	display: block;
	border: 1px solid #ccc;
	height: 500px;
	padding: 15px;
	background: rgba(255,255,255,.9);
	margin:  0 10px 10px;
}

h3 { 
	font-size: 1.3rem;
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding: 5px;
	margin: 0 8px 8px;

	a{
		color: #74ac3d;
	}
}

p { 
	line-height: 1.5;
	color: #414141;
}

input {
	@include border-radius(2px);
	display: block;
	border: 1px solid #ccc;
	outline: none;
	height: 40px;
	width: 100%;
	margin: 10px auto;
	line-height: 30px;
	font-size: 1.4em;
	padding: 0 10px;

	&:focus {
		@include placeholder(#74ac3d);
		border-color: #aaa;
	}
}


button {
	background-color: rgb(116,172,61); // Old browsers
	@include border-radius(0px 2px 2px 0);
	@include filter-gradient(#74ac3d, #578e37, vertical); // IE6-9
	@include background-image(linear-gradient(top,  rgba(116,172,61,1) 0%,rgba(87,142,55,1) 100%));
	@include transition(color .2s ease-in-out);
	display: inline-block;
	padding: 0 10px;	
	margin: 10px 0;
	border: 1px solid #444;
	font-size: 1.4em;
	color: #f9f9f9;
	text-shadow: 0px 1px 4px #313131;
	cursor: pointer;
	font-family: $os;
	font-weight:300;

	&:hover {
		color: #fff;
		background: #578e37;
	}
	&:active {
		background: #517F35;
	}
}