
body {    
    &:after {
        content: "";
        position: fixed;
        display: none;
        left: 0;
        top: 0px;
        width: 100%; 
        height: 100%;
        background: rgba(0,0,0,.8);
        z-index: 9911;
    }

    &.active-modal { 
        overflow: hidden; 
        @include box-shadow(0px 0px 40px #000 inset);
    }

    &.active-modal::after {
        display: block;
    }
}
.modal {
    display: block;
    width: 900px;
    max-width: 100%;
    position: fixed;
    left: 50%;
    z-index: 10000;
    margin-left: -450px;
    top: 50%;
    max-height: 94%;
    overflow: auto;
    background: #f9f9f9;
    padding:  0 20px 10px;
    @include box-shadow(0px 0px 7px #111);
    @include border-radius(4px);
    
    .close-modal {
        position: absolute;
        top: 14px;
        right: 30px;
        cursor: pointer;
    }


    h2 {
        border-bottom: 1px solid #ccc;
        margin: 20px;
        padding-right: 60px;
    }

    img { 
        max-width: 100%; 
    }

    p {
        padding: 20px;
        font-size: 1.3em;
        clear: both;
    }

    button {
        &.js-geocode-go {
            margin: 0 0 0 10px;
            float: left; 
            padding: 0 10px;
            line-height: 1.9;
        }
    }

    dl {
        dt {
            font-size: 1.8em;
            padding: 10px 20px;
            font-weight: 300;

        }

        dd {
            list-style: bullet;
            margin-left: 50px;
            font-size: 1.2em;
            line-height: 1.5;

            &:before {
                content: "-";
            }
        }
    }

    input[type='text'], #js-make-query, .twitter-typeahead {
        @include border-radius(3px);
        @include box-shadow(inset 0px 1px 3px #ccc);
        outline: none;
        border: none;
        padding-left: 20px;
        font-size: 1.25em;
        width: 300px;
        height: 40px;
    }
    .twitter-typeahead {
        padding-left: 0;
    }

    &.small {
        width: 300px;
        text-align: center;
        font-size: 4em;
        height: 150px;
        line-height: 150px;
        margin-left: -150px;
        min-height: 0;
    }

}

.geocode-choices {
    display: block;
    margin: 20px auto;
    width: 80%;
    border: 1px solid #ddd;
    @include border-radius(4px);

    li {
        line-height: 1.7;
        font-size: 1.3em;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ddd;
        text-indent: 1.2em;
        cursor: pointer;

        &:first-of-type { @include border-radius(4px 4px 0 0); }
        &:last-of-type { @include border-radius(0 0 4px 4px); }

        &:hover {
            color: $hasLocation;
            background: #f1f1f1;
            text-decoration: underline;
        }

        &.geo-header {
            background: $shadeblue;
            color: #f7f7f7;

            &:hover {
                background: $shadeblue;
            }
        }

        &.icon-location-arrow {
            font-family: $lato;
            position: relative;
        }

        &.icon-location-arrow::before {
            position: absolute;
            right: 10px;
            font-size: 1.4em;
            top: -4px;
            color: $hasLocation;
            text-shadow: 0px 1px 0px #666;
            font-family: 'icomoon';
        }
    }
}

#entryway-view {
    $width: 500px;
    @extend .modal;
    @include transition(all .3s ease-in-out);
    overflow: visible;
    width: $width;
    margin-left: -$width/2;
    margin-top: -200px;
    background: #fff;
    height: 100px;
    min-height: 0;

    &.fullsize {
        padding-left: 60px;
        width: 100% !important;
        left: 0 !important;
    }

    .action-button {
        float: left;
        position: relative;
        top: 10px;
        left: 7px;
        margin-left: 10px;

        &#save-active-query {
            display: none;
        }
    }

    &.top-bar {
        @include box-shadow(0px 0px 3px #aaa);
        @include border-radius(0);
        position: fixed;
        top: 0;
        left: 25%;
        min-height: 0;
        width: 75%;
        height: 60px;
        margin-top: 0;
        margin-left: 0;
        display: block;
        background: rgba(255,255,255,.95);
        z-index: 997;

        input, .twitter-typeahead {
            background: #f9f9f9;
        }

        nav {
            float: right;
            width: 483px;
            position: static;
            padding-top: 6px;

            ul {
                top: 0;
                li {
                    text-align: center;
                    display: inline-block;
                    vertical-align: top;
                    background: none;
                    max-width: 180px;
                    width: auto;
                    @include transition(all .3s ease-in-out);
                    @include border-radius(3px);
                    text-decoration: none;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 10px;
                    cursor: pointer;
                }
            }
        }
        input#js-make-query, .twitter-typeahead {
            width: 298px;
        }

    }   
    input#js-make-query, .twitter-typeahead {
        color: #222;
        background: #fff;
        width: 100%;
    }

    .twitter-typeahead {
        width: 82%;
    }

    nav {
        @include border-radius(0 0 4px 4px);
        width: 100%; 
        bottom: 0;
        position: absolute;
        left: 0;
        padding-bottom: 1px;
        background: #f2f2f3;

        ul li {
            @include transition(all .15s ease-in-out);
            @include border-radius(3px);
            cursor: pointer;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            min-width: 22%;
            white-space: nowrap;
            text-align: center;
            margin: 0 1%;

            ul {
                display: block;
                background: #fff;
            }

            i {
                display: inline-block;
                position: relative;
                top: 2px;
                left: 0;
                margin-left: 0;
                margin-top: 0;
                font-size: 1em;
                line-height: 0px;
                width: auto;
                color: #333;
                margin-right: 5px;
            }
            &:hover {
            }

            a {
                text-decoration: none;
                color: #111;
            }
        }
    }
}


@media screen and (max-width: 1170px) {
    #entryway-view.top-bar {
        nav {
            @include border-radius(6px);
            background: url("../images/hamburgericon.png") center right no-repeat;
            width: 40px;
            height: 40px;
            position: relative;
            top: 9px;
            cursor: pointer;
            @include box-shadow(0px 1px 4px #888);

            &.showing-menu ul{
                display: block;
            }

            ul {
                @include border-radius(0 0 3px 3px);
                @include box-shadow(0px 2px 4px #777);
                display: none;    
                position: absolute;
                top: 100%;
                right: 0;
                width: 150px;
                background: #fff;

                 li {
                    width: 100%;
                    padding: 0 3px;
                    margin: 0;
                    position: relative;

                    a {
                        height: 100%;
                    }

                    i {
                        position: absolute;
                        left: 10px;
                        top: 25px;
                        font-size: 1.3em;
                    }

                    &:hover , &:hover a{
                        @include transition(all .15s ease-in-out);
                        @include border-radius(0);
                        @include box-shadow(none);
                        background: $highlightblue;
                        color: #fff;

                        i {
                            color: #fff;
                        }

                    }
                 }
            }
        }
        input#js-make-query, .twitter-typeahead {
            width: 400px;
        }
    }
}


@media screen and (max-width: 740px) {
    #entryway-view.top-bar {
        input#js-make-query, .twitter-typeahead {
            width: 250px;
        }
    }
}

#all-feed-loaders {
    position: absolute;
    top: 70px;
    right: 14px;
    z-index: 999;

    li {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        outline: 1px solid $shadeblue;

        &:after {
            content: attr(data-percentage);
            position: absolute;
            color: #fff;
            bottom: -10px;
            display: block;
            width: 100%;
            font-size: 1.3em;
            text-align: center;
            text-shadow: 0px -1px 0px #aaa, 0px 1px 2px #414141;

        }

    }
}

.saved-queries-list {

    padding: 0 20px;

    li {
        height: 40px;
        line-height: 40px;

        &:nth-of-type(odd) {
            background: #f2f2f2;
        }

        i.button {
            margin: 0 2px;
            line-height: 30px;
            cursor: pointer;
            position: relative;
            top: 3px;
            padding-top: 0;
            padding-bottom: 1px;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

            &:before {
                padding: 0 10px 0 0;
                font-family: 'icomoon';
            }
        }

        span, i {
            margin: 0 15px;
        }

        .title {
            font-size: 1.2em;
            overflow: hidden;
            max-width: 168px;
            display: inline-block;
            text-overflow: ellipsis;
        }
    }
}

#timeline-wrapper {
    display: none;
    @include transition(all .3s ease-in-out);
    position: fixed;
    bottom: 0px;
    left: 25%;
    width: 75%;
    height: 80px;
    z-index: 997;
    padding: 0 10%;
    // background: rgba(255,255,255,.95);
}


.timeline-marker {
    @include transition(all .2s ease-in-out);
    display: block;
    height: 10px;
    width: 3px;
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: rgb(114,229,94); // Old browsers
    @include filter-gradient(#72e55e, #72b068, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgba(114,229,94,1) 0%,rgba(114,176,104,1) 100%));
    position: absolute;
    top: -1px;
    left: 200px;
    cursor: pointer;
    border: 1px solid $shadeblue;
    border-bottom: none;
    z-index: 999;

    &:hover, &.highlighted {
        background: #fff !important;
        z-index: 9999;

        .date-bubble {
            display: block !important;
        }
    }

    .date-bubble {
        @include user-select(none);
        pointer-events: none;
        position: absolute;
        // background: rgba(0,0,0,.8);
        background: rgba(36,40,51,.7);
        // needs latest Compass, add '@import "compass"' to your scss
        @include filter-gradient(#b82428, #b84a4f, vertical); // IE6-9
        @include background-image(linear-gradient(top,  rgba(36,40,51,0.72) 0%,rgba(74,79,91,0.72) 100%));
        color: #f1f1f1;
        padding: 5px;
        width: 86px;
        text-align: center;
        bottom: 11px;
        font-size: 13px;
        @include border-radius(3px);
    }

    &.no-location-marker {
        background: black;
        border-color: $mainblue;
        z-index: 998;
    }
}

.timeline-controls {
    @include transition(width $duration ease-in-out);
    // @include border-radius(3px);
    // @include box-shadow(inset 0px 0px 3px #777);
    margin: 2px auto;
    float: left;
    width: 59%;
    height: 41px;
    color: #555;
    // background-color: rgb(197,227,122); // Old browsers
    // @include filter-gradient(#c5e37a, #fd6e38, horizontal); // IE6-9
    // @include background-image(linear-gradient(left,  rgba(197,227,122,1) 0%,rgba(253,110,56,1) 100%));
    padding: 3px;
    padding-left: 8px;


    li {
        @include box-shadow(inset 0px 2px 3px #fff, 0px 2px 4px #777);
        @include border-radius(3px);
        cursor: pointer;
        line-height: 34px;
        font-size: 1.3em;
        display: inline-block;
        text-align: center;
        user-select:none;
        -webkit-user-select:none;
        width: 18.6%;
        margin: 0;
        position: relative;
        border: 1px solid #aaa;
        border-top-color: #fff;
        border-bottom-color: #888;
        // needs latest Compass, add '@import "compass"' to your scss
        background-color: rgb(248,248,248); // Old browsers
        @include filter-gradient(#fbfbfb, #d7d7d7, vertical); // IE6-9
        @include background-image(linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(215,215,215,1) 100%));

        // outline: 1px solid red;

        &.selected {
            text-shadow: 0px 1px 2px #fff, 0px -1px 2px #fff;
            &:after {
                content: attr(speed);
                position: absolute;
                top: -10px;
                right: 5px;
                font-size: .6em;
                font-family: $lato;
                text-shadow: none;
            }
        }

        &:hover {
            color: #333;
        }


        &:active, &.playing {
            color: #fd6e38;
            @include box-shadow(inset 0px 2px 3px #fff, 0px 1px 2px #666);
        }

        &.js-pause-timeline {
            // font-size: .73em;
            // position: relative;
            // top: -4px;
        }
    }
}

input[type='text'].date-range-picker {
    width: 20%;
    float: left;
    margin: 6px 0 5px;   
    height: 36px;
    line-height: 30px;
    font-size: 1.14em;
    text-align: center;
}

#overall-progress-number {
    // @include border-radius(3px);
    @include no-user-select();
    width: auto;
    position: absolute;
    // display: none;
    text-align: left;
    line-height: 2.45;
    font-size: 1.1em;
    color: #fff;
    top: 48px;
    z-index: 998;
    left: 26%;
    text-shadow: 0px 1px 3px #444;
}

progress, #overall-progress, progress[value] {
     /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 75%;
    left: 25%;
    z-index: 997;
    height: 15px;
    @include box-shadow(0px 1px 2px #aaa);

    &::-webkit-progress-bar {
        background-color: rgba(0,0,0,.3);
        padding: 0px;
        height: 15px;
    }

    // Thanks to chris coyier for the gradients
    &::-webkit-progress-value {
        background-image:
           -webkit-linear-gradient(-45deg, 
                                   transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                   rgba(0,0, 0, .14) 66%, transparent 66%),
           -webkit-linear-gradient(left, #80e26f, #f44);
        background-size: 35px 20px, 100% 100%, 100% 100%;
        // background: #3B99FC;
        -webkit-animation: animate-stripes 10s linear infinite;
        animation: animate-stripes 10s linear infinite;
    }
}


@-webkit-keyframes animate-stripes {
    from {}
    to {
        background-position: -100% 0;
    }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}