@import "compass/css3";
@import "build";
@import "overlays";
@import "../modules/dist/bower_components/sweetalert/lib/sweet-alert.scss";
// @import "compass/reset";

* {
    @include box-sizing(border-box);
}

html, body { height: 100%; }

body {
    font-family: $lato;
    position: relative;
    background: url("../images/flatmap.jpg") center fixed;
    @include background-size(cover);
    padding: 0;
}

$width: 478px;
h1 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -$width/2;
    margin-top: -185px;
    font-size: 3.5em;
    z-index: 99;

}

.login-wrap {
    $padding: 17px;
    @include border-radius(3px);
    @include box-shadow(0px 0px 20px #111, 0px 0px 1px #fff inset);
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: $width;
    padding: $padding;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -130px;
    margin-left: -$width/2;

    .button {
        margin-left: -1px;
    }

    input[type='text'], [type='password'] {
        border: none;

        &:focus { border: none; }
    }

    label {
        text-align: left;
    }

    a {
        float: right;
        margin-top: 10px;
        padding: 0 10px;
    }
}

a {
    color: #5976B7;

    &:hover {
        color: #769AE8;
    }
}

.button {
    @include box-shadow(0px 0px 1px #fff inset);
    @include border-radius(3px);
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: rgb(81,66,102); // Old browsers
    @include filter-gradient(#514266, #172849, vertical); // IE6-9
    @include background-image(linear-gradient(top,  rgba(81,66,102,1) 0%,rgba(23,40,73,1) 100%));
    border: 1px solid #222;
    color: #f9f9f9;
    line-height: 2.1;
    font-size: 1.07em;
    padding: 0 10px;   
    cursor: pointer;
    outline: none;
    float: left;

    &:hover {
        color: #fff;
        text-decoration: underline;
        background: #18305B;
    } 

    &:focus {
        background: #14213A;
    }
}


label span{
    display: block;
    padding: 0px 0 5px 0;
}

.none {display: none;}

input[type='text'], input[type='password'] {
    outline: none;
    @include border-radius(5px);
    margin: 2px 0 6px;
    display: block;
    padding: 6px 8px;
    width: 100%;
    line-height: 30px;
    font-size: 1.14em;


    &:focus {
        border: 1px solid #0075f2;
    }
}

.modal {
    width: 400px;
    margin-left: -200px;
    outline: none;
    margin-top: -180px;
    min-height: 300px;

    &.login-modal {
        height: 360px;
    }

    p {
        padding: 10px;
        text-align: center;
    }

    label {
        display: block;

        span {
            color: #222;
        }
    }

    .inline {
        margin: 0 15px 0 0;
    }

    .close-modal {
        top: 15px;
        right: 15px;
    }

    .button {
        width: 100%;
        margin: 13px 0 0 0;
    }

    input[type='text'], input[type='password'] {
        color: #333;
        width: 100%;
    }
}

.spinner {
    position: relative;
    left: 10px;
}

#mission-rotating {
    position: relative;
    top: 115px;
    font-size: 1.9em;
    visibility: hidden;
}

#contact-edtech {
    position: relative;
    top: 75%;
    color: #aaa;
}