/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "jqueryui";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";
@import "modal";
@import "grid";
@import "build";
@import "typeahead";
@import "infowindow";
@import "overlays";
@import "jqueryui";
@import "../modules/dist/bower_components/sweetalert/lib/sweet-alert.scss";

$lato: "Lato", sans-serif;

@mixin placeholder($c: #999) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color:    #{$c};
    }   
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #{$c};
    }   
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #{$c};
    }   
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    #{$c}; 
    }   
}

.fr { float: right; }
.fl {float: left;}
.s9 { font-size: .9em; }

* { 
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
}

html { height: 100% }
body { 
    height: 100%;
    position: relative;
    font-size: 14px;
    font-family: $lato;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: url("../images/flatmap.jpg") center fixed;
    overflow: hidden;
}

#all-map-wrapper {
    @include transition(all .3s ease-in-out);
    height: 100%;
    width: 75%;
    float: right;
}

.shift-to-full {
    @include transition(all .3s ease-in-out);

    &.fullsize {
        width: 100% !important;
        left: 0 !important;
    }
}

.map-canvas {
    width: 100%;
    height: 100%;
}
.all-stories {
    float: left;
    width: 25%;
    height: 100%;
    // @include box-shadow(-2px 0px 5px $shadeblue inset);
    @include transition(margin-left $duration ease-in-out, opacity $duration ease-in-out);
    position: relative;
    display: inline-block;
    width: $article-list-width;
    background: $mainblue;
    color: #eee;
    line-height: 1.8;
    bottom: 0;

    input.js-filter-stories {
        @include box-shadow(none);
        width: 84%;
        margin: 10px 0 12px 8px ;
        padding-right: 30px;
        background: $shadeblue;
        color: #f6f6f6;

        &:focus {
            border-bottom-color: $highlightblue;
        }
    }

    i.icon-arrow-down {
        position: absolute;
        left: 78%;
        padding: 0 4px;
        font-size: 1.2em;
        top: 25px;
        cursor: pointer;
        color: #bbb;
    } 
    
    i.js-toggle-view {
        cursor: pointer;
        position: absolute;
        top: 19px;
        right: 8px;
        @include transition(right $duration ease-in-out, top $duration ease-in-out, color $duration ease-in-out);
        font-size: 1.5em;
        z-index: 1000;
        color: #aaa;
        text-shadow: 0px 1px 0px $highlightblue;

        &:hover { color: #ddd; }
    }
    
    &.away {
        margin-left: -1*$article-list-width;

        i.js-toggle-view {
            cursor: pointer;
            position: absolute;
            right: -40px;
            color: #333;
            text-shadow: none;
        }   

        .article-list {
            opacity: 0;
            @include transform(scale(.8));
        }
    }

    &.away + .main-content-wrap {
        width: 100%;
        // left: -1*$article-list-width;

        ul.control-panel {
            left: 40px;
        }
    }

    .story-list-wrapper {
        @include transition(all $duration ease-in-out);
        overflow: auto;
        height: calc(100% - 30px);
        @include box-shadow(0px 1px 6px #111 inset);


        > li {
            text-indent: .83em;
            cursor: pointer;
            border-bottom: 1px solid $shadeblue;
            border-top: 1px solid $highlightblue;
            position: relative;
            overflow: hidden;

            &:first-of-type { border-top: none; }
            &:last-of-type { border-bottom: none; }

            .article-title {
                color: #aaa;
                text-decoration: none;
                display: block;
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                padding: 2px 0;
            }

            &.placeholder {
                padding: 10px 0;
                font-size: 1.2em;

                &:hover {
                    background: none;
                    cursor: auto;
                }
            }

            &.has-coordinates {
                a,.mask {
                    border-left: 4px solid $hasLocation;
                }
                .js-favorite-story, .js-set-location { display: none; }
            }

            a, .mask {
                border-left: 4px solid $shadeblue;
            }

            &:hover  {
                background: rgba(0,0,0,.2) ;

                .icon-location-arrow {
                    visibility: visible;
                }
            }
            &.highlighted { 
                background: rgba(0,0,0,.5);
            }
            
            .icon-location-arrow {
                @include border-radius(3px);
                @include box-shadow(0px 0px 0px 1px rgba(255,255,255,.1) inset, 0px 1px 4px #000);
                position: absolute;
                right: 10px;
                top: 4px;
                color: $hasLocation;
                font-size: 1.1em;
                text-indent: 0em !important;
                display: block;
                visibility: hidden;
                border: 1px solid $mainblue;
                border-top-color: $highlightblue;
                border-bottom-color: #111;
                text-align: center;
                background: $shadeblue;
                padding: 3px;
                margin: 0;

                &:hover { color: #f9f9f9; }
            }

        }

        .placeholder { 
            overflow: visible;
            white-space: normal;
            border-bottom: 1px solid $shadeblue;
            font-size: 1.2em;
        }

        ul.story-tools {
            @include transition(height .2s ease-in-out);
            overflow: hidden;
            height: 0;

            li {
                display: inline-block;
                text-align: center;
            }
        }
    }
}

.quick-story {
    border-bottom: 1px solid #000;
    width: 100%;
    background: $shadeblue;
    white-space: normal;
    width: 100%;
    position: relative;
    max-height: 500px;
    color: #ccc;
    overflow: auto;

    a {
        font-size: 1em;
        border-left: none !important;
        text-decoration: none;

        &:hover { 
            text-decoration: underline;
            color: $hasLocation;
        }

        &.js-zoom-to-date {
            border-bottom: 1px dotted $hasLocation;
        }
    }

    h3 {
        font-size: 1.06em;
        color: #aaa;
        font-weight: 300;
        text-align: center;
        margin: 0;
        display: block;
        border-bottom: 1px solid $mainblue;

        a {
            display: block;
            color: #ddd;
        }
    }

    p {
        color: #aaa;
        padding: 10px;
    }
    
    hr {
        border: none;
        border-top: 1px solid $mainblue;
    }
    
    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        padding: 0;
        border: 6px solid transparent;
        border-bottom-color: rgba(0,0,0,.9);
        top: -12px;
        left: 50%;
        margin-left: -6px;
    }
}

.sort-options-list {
    background: rgba(0,0,0,.8);
    width: 84%;
    margin: 10px 0 10px 8px ;
    position: absolute;
    top: 40px;
    display: none;
    color: #bbb;
    z-index: 999;

    li:not(.header){
        text-indent: 1em;
        cursor: pointer;
        font-family: $lato;
        font-weight: 600;
        margin: 5px 0;
    
        &:before { 
            font-family: 'icomoon';
            vertical-align: middle;
            margin: 0 10px 0 0;
        }
    }

    li.header { 
        border-bottom: 1px solid $mainblue;
        font-size: 1.2em;
        margin: 0 10px;
        text-indent: .3em;
    }
}

h2 {
    font-size: 1.8em;
    margin: 11px 0;
    font-weight: 300;
}

h3 { 
    font-weight: 100;
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 1px solid #888;
    padding: 5px;
    margin: 0 8px 8px;

    a{
        color: #74ac3d;
    }
}

p { 
    line-height: 1.5;
    color: #414141;
}

.message {
    background: #f9f9f9;
    font-size: 1.1em;
    margin: 10px auto;
    @include border-radius(3px);
    border: 1px solid #ddd;
}