/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Users/sampurcell/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 27, ../sass/screen.scss */
.fr {
  float: right;
}

/* line 28, ../sass/screen.scss */
.fl {
  float: left;
}

/* line 29, ../sass/screen.scss */
.s9 {
  font-size: .9em;
}

/* line 31, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 38, ../sass/screen.scss */
body {
  height: 100%;
  position: relative;
  font-size: 14px;
  background: url("../images/plaid.png");
}

/* line 44, ../sass/screen.scss */
#map-canvas {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 100%;
  margin: 10px;
}

/* line 52, ../sass/screen.scss */
.fixed {
  position: fixed;
}

/* line 56, ../sass/screen.scss */
input {
  display: inline-block;
  border: 1px solid #ccc;
  outline: none;
  height: 40px;
  width: 80%;
  margin: 10px auto;
  line-height: 30px;
  font-size: 1.4em;
  padding: 0 10px;
  -webkit-box-shadow: inset 0px 1px 3px #dddddd;
  -moz-box-shadow: inset 0px 1px 3px #dddddd;
  box-shadow: inset 0px 1px 3px #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 69, ../sass/screen.scss */
input:focus {
  border-color: #aaa;
}
/* line 11, ../sass/screen.scss */
input:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #74ac3d;
}
/* line 14, ../sass/screen.scss */
input:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #74ac3d;
}
/* line 17, ../sass/screen.scss */
input:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #74ac3d;
}
/* line 20, ../sass/screen.scss */
input:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #74ac3d;
}

/* line 75, ../sass/screen.scss */
.wrap {
  display: block;
  width: 80%;
  max-width: 1700px;
  margin: 0 10px 0 0;
  min-height: 100%;
  height: 100%;
  position: absolute;
  left: 20%;
}

/* line 86, ../sass/screen.scss */
.sidenav {
  float: left;
  width: 18%;
  border: 1px solid #ccc;
  display: block;
  margin-top: 80px;
  margin-left: 10px;
  background: #f9f9f9;
  background: rgba(255, 255, 255, 0.8);
}
/* line 96, ../sass/screen.scss */
.sidenav li {
  display: block;
  height: 40px;
  line-height: 45px;
  padding-left: 10px;
  font-family: sans-serif;
  border-top: 1px solid #ccc;
  width: 86%;
  margin: 0 auto;
  color: #445454;
  font-size: 1.4em;
  cursor: pointer;
  overflow: hidden;
  *zoom: 1;
}
/* line 110, ../sass/screen.scss */
.sidenav li:hover {
  background: #fff;
}
/* line 111, ../sass/screen.scss */
.sidenav li:first-child {
  border-top: none;
}

/* line 115, ../sass/screen.scss */
#search {
  width: 100%;
  padding: 10px;
  height: 70px;
}

/* line 121, ../sass/screen.scss */
.icon {
  font-family: 'icons';
  margin: 5px;
}

/* line 126, ../sass/screen.scss */
button.go {
  display: inline-block;
  margin: 0 -6px 0;
  padding: 0 10px;
  height: 40px;
  border: 1px solid #888;
  font-size: 1.4em;
  background-color: #74ac3d;
  -webkit-border-radius: 0px 2px 2px 0;
  -moz-border-radius: 0px 2px 2px 0;
  -ms-border-radius: 0px 2px 2px 0;
  -o-border-radius: 0px 2px 2px 0;
  border-radius: 0px 2px 2px 0;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF74AC3D', endColorstr='#FF578E37');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #74ac3d), color-stop(100%, #578e37));
  background-image: -webkit-linear-gradient(top, #74ac3d 0%, #578e37 100%);
  background-image: -moz-linear-gradient(top, #74ac3d 0%, #578e37 100%);
  background-image: -o-linear-gradient(top, #74ac3d 0%, #578e37 100%);
  background-image: linear-gradient(top, #74ac3d 0%, #578e37 100%);
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #f9f9f9;
  text-shadow: 0px 1px 4px #313131;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  vertical-align: -2px;
}
/* line 146, ../sass/screen.scss */
button.go:hover {
  color: #fff;
  background: #578e37;
}
/* line 150, ../sass/screen.scss */
button.go:active {
  background: #517F35;
}

@font-face {
  font-family: 'icons';
  src: url("../icomoon/fonts/icomoon.eot") format("eot"), url("../icomoon/fonts/icomoon.woff") format("woff"), url("../icomoon/fonts/icomoon.ttf") format("truetype");
}
