/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_build.scss */
.center {
  text-align: center;
}

/* line 7, ../sass/_build.scss */
.relative {
  position: relative;
  display: block;
}

/* line 8, ../sass/_build.scss */
.absolute {
  position: absolute;
}

/* line 9, ../sass/_build.scss */
.sticky {
  position: fixed !important;
}

/* line 10, ../sass/_build.scss */
.fr {
  float: right;
}

/* line 11, ../sass/_build.scss */
.fl {
  float: left;
}

/* line 12, ../sass/_build.scss */
.m0 {
  margin: 0;
}

/* line 13, ../sass/_build.scss */
.m10 {
  margin: 10px !important;
}

/* line 14, ../sass/_build.scss */
.m20 {
  margin: 20px !important;
}

/* line 15, ../sass/_build.scss */
.m30 {
  margin: 30px !important;
}

/* line 16, ../sass/_build.scss */
.s9 {
  font-size: .9em !important;
}

/* line 17, ../sass/_build.scss */
.s8 {
  font-size: .8em !important;
}

/* line 18, ../sass/_build.scss */
.s7 {
  font-size: .7em !important;
}

/* line 19, ../sass/_build.scss */
.s6 {
  font-size: .6em !important;
}

/* line 20, ../sass/_build.scss */
.s5 {
  font-size: .5em !important;
}

/* line 21, ../sass/_build.scss */
.s4 {
  font-size: .4em !important;
}

/* line 22, ../sass/_build.scss */
.s3 {
  font-size: .3em !important;
}

/* line 23, ../sass/_build.scss */
.s2 {
  font-size: .2em !important;
}

/* line 24, ../sass/_build.scss */
.s1 {
  font-size: .1em !important;
}

/* line 25, ../sass/_build.scss */
.ml-0 {
  margin-left: 0px !important;
}

/* line 26, ../sass/_build.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 27, ../sass/_build.scss */
.mauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 28, ../sass/_build.scss */
.p0 {
  padding: 0 !important;
}

/* line 29, ../sass/_build.scss */
.p10 {
  padding: 10px !important;
}

/* line 30, ../sass/_build.scss */
.p15 {
  padding: 15px;
}

/* line 31, ../sass/_build.scss */
.p30 {
  padding: 30px !important;
}

/* line 32, ../sass/_build.scss */
.pointer {
  cursor: pointer;
}

/* line 33, ../sass/_build.scss */
.border-simple {
  border: 1px solid #ccc;
}

/* line 34, ../sass/_build.scss */
.no-show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 35, ../sass/_build.scss */
.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 36, ../sass/_build.scss */
.noclick {
  pointer-events: none;
}

/* line 37, ../sass/_build.scss */
.inline {
  display: inline-block;
}

/* line 38, ../sass/_build.scss */
.block {
  display: block !important;
}

/* line 39, ../sass/_build.scss */
.hidden {
  display: none;
}

/* line 40, ../sass/_build.scss */
.visible {
  display: block;
}

/* line 41, ../sass/_build.scss */
.clear {
  clear: both;
}

/* line 42, ../sass/_build.scss */
.w1 {
  width: 10%;
}

/* line 43, ../sass/_build.scss */
.w15 {
  width: 15%;
}

/* line 44, ../sass/_build.scss */
.w2 {
  width: 20%;
}

/* line 45, ../sass/_build.scss */
.w25 {
  width: 25%;
}

/* line 46, ../sass/_build.scss */
.w3 {
  width: 30%;
}

/* line 47, ../sass/_build.scss */
.w35 {
  width: 35%;
}

/* line 48, ../sass/_build.scss */
.w4 {
  width: 40%;
}

/* line 49, ../sass/_build.scss */
.w45 {
  width: 45%;
}

/* line 50, ../sass/_build.scss */
.w5 {
  width: 50%;
}

/* line 51, ../sass/_build.scss */
.w55 {
  width: 55%;
}

/* line 52, ../sass/_build.scss */
.w6 {
  width: 60%;
}

/* line 53, ../sass/_build.scss */
.w65 {
  width: 65%;
}

/* line 54, ../sass/_build.scss */
.w7 {
  width: 70%;
}

/* line 55, ../sass/_build.scss */
.w75 {
  width: 75%;
}

/* line 56, ../sass/_build.scss */
.w8 {
  width: 80%;
}

/* line 57, ../sass/_build.scss */
.w85 {
  width: 85%;
}

/* line 58, ../sass/_build.scss */
.w9 {
  width: 90%;
}

/* line 59, ../sass/_build.scss */
.w95 {
  width: 94.5%;
}

/* line 60, ../sass/_build.scss */
.w10 {
  width: 100%;
}

/* line 61, ../sass/_build.scss */
.icon {
  font-family: 'icons';
}

/* line 62, ../sass/_build.scss */
.white {
  color: #fff;
}

/* line 2, ../sass/_overlays.scss */
.modal {
  display: block;
  width: 900px;
  max-width: 100%;
  position: fixed;
  left: 50%;
  z-index: 9912;
  margin-left: -450px;
  top: 3%;
  max-height: 94%;
  overflow: auto;
  background: #f9f9f9;
  background: rgba(255, 255, 255, 0.89);
  padding: 0 20px 10px;
  -webkit-box-shadow: 0px 0px 7px #111111;
  -moz-box-shadow: 0px 0px 7px #111111;
  box-shadow: 0px 0px 7px #111111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 19, ../sass/_overlays.scss */
.modal .close-modal {
  position: absolute;
  top: 14px;
  right: 30px;
  cursor: pointer;
}
/* line 26, ../sass/_overlays.scss */
.modal h2 {
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  padding-right: 40px;
}
/* line 32, ../sass/_overlays.scss */
.modal img {
  max-width: 100%;
}

/* line 30, ../sass/screen.scss */
.fr {
  float: right;
}

/* line 31, ../sass/screen.scss */
.fl {
  float: left;
}

/* line 32, ../sass/screen.scss */
.s9 {
  font-size: .9em;
}

/* line 34, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 40, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 41, ../sass/screen.scss */
body {
  height: 100%;
  position: relative;
  font-size: 14px;
  font-family: sans-serif;
  background: url("../images/dark_matter.png");
  padding: 20px;
}
/* line 49, ../sass/screen.scss */
body:after {
  content: "";
  position: fixed;
  display: none;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9911;
}
/* line 61, ../sass/screen.scss */
body.active-modal {
  overflow: hidden;
}
/* line 63, ../sass/screen.scss */
body.active-modal::after {
  display: block;
}

/* line 68, ../sass/screen.scss */
header {
  margin: 10px;
}
/* line 71, ../sass/screen.scss */
header button {
  height: 40px;
  margin: 10px 0;
  -webkit-border-radius: 0px 6px 6px 0px;
  -moz-border-radius: 0px 6px 6px 0px;
  -ms-border-radius: 0px 6px 6px 0px;
  -o-border-radius: 0px 6px 6px 0px;
  border-radius: 0px 6px 6px 0px;
}
/* line 77, ../sass/screen.scss */
header input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  width: 50%;
}

/* line 83, ../sass/screen.scss */
.map-canvas {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 500px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  margin: 10px;
}

/* line 93, ../sass/screen.scss */
h3 {
  font-size: 1.3rem;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  margin: 0 8px 8px;
}
/* line 100, ../sass/screen.scss */
h3 a {
  color: #74ac3d;
}

/* line 105, ../sass/screen.scss */
p {
  line-height: 1.5;
  color: #414141;
}

/* line 110, ../sass/screen.scss */
input {
  display: block;
  border: 1px solid #ccc;
  outline: none;
  height: 40px;
  width: 100%;
  margin: 10px auto;
  line-height: 30px;
  font-size: 1.4em;
  padding: 0 10px;
  -webkit-box-shadow: inset 0px 1px 3px #dddddd;
  -moz-box-shadow: inset 0px 1px 3px #dddddd;
  box-shadow: inset 0px 1px 3px #dddddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 123, ../sass/screen.scss */
input:focus {
  border-color: #aaa;
}
/* line 14, ../sass/screen.scss */
input:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #74ac3d;
}
/* line 17, ../sass/screen.scss */
input:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #74ac3d;
}
/* line 20, ../sass/screen.scss */
input:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #74ac3d;
}
/* line 23, ../sass/screen.scss */
input:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #74ac3d;
}

/* line 129, ../sass/screen.scss */
.wrap {
  display: block;
  width: 80%;
  max-width: 1700px;
  margin: 0 10px 0 0;
  min-height: 100%;
  height: 100%;
  position: absolute;
  left: 20%;
}

/* line 140, ../sass/screen.scss */
.sidenav {
  float: left;
  width: 18%;
  border: 1px solid #ccc;
  display: block;
  margin-top: 80px;
  margin-left: 10px;
  background: #f9f9f9;
  background: rgba(255, 255, 255, 0.95);
}
/* line 150, ../sass/screen.scss */
.sidenav li {
  display: block;
  height: 40px;
  line-height: 45px;
  padding-left: 10px;
  font-family: sans-serif;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0px 1px 4px #cccccc;
  -moz-box-shadow: 0px 1px 4px #cccccc;
  box-shadow: 0px 1px 4px #cccccc;
  width: 93%;
  margin: 0 auto;
  color: #445454;
  font-size: 1.4em;
  cursor: pointer;
  overflow: hidden;
  *zoom: 1;
  z-index: -1;
}
/* line 167, ../sass/screen.scss */
.sidenav li:hover {
  background: #fff;
}
/* line 168, ../sass/screen.scss */
.sidenav li:first-child {
  border-top: none;
}

/* line 172, ../sass/screen.scss */
#search {
  width: 100%;
  padding: 10px;
}

/* line 177, ../sass/screen.scss */
.icon {
  font-family: 'icons';
  margin: 5px;
}

/* line 182, ../sass/screen.scss */
button {
  display: inline-block;
  padding: 0 10px;
  margin: 10px 0;
  border: 1px solid #888;
  font-size: 1.4em;
  background-color: #74ac3d;
  -webkit-border-radius: 0px 2px 2px 0;
  -moz-border-radius: 0px 2px 2px 0;
  -ms-border-radius: 0px 2px 2px 0;
  -o-border-radius: 0px 2px 2px 0;
  border-radius: 0px 2px 2px 0;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF74AC3D', endColorstr='#FF578E37');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #74ac3d), color-stop(100%, #578e37));
  background-image: -webkit-linear-gradient(top, #74ac3d 0%, #578e37 100%);
  background-image: -moz-linear-gradient(top, #74ac3d 0%, #578e37 100%);
  background-image: -o-linear-gradient(top, #74ac3d 0%, #578e37 100%);
  background-image: linear-gradient(top, #74ac3d 0%, #578e37 100%);
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #f9f9f9;
  text-shadow: 0px 1px 4px #313131;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
/* line 199, ../sass/screen.scss */
button:hover {
  color: #fff;
  background: #578e37;
}
/* line 203, ../sass/screen.scss */
button:active {
  background: #517F35;
}

/* line 208, ../sass/screen.scss */
.ui-dialog {
  display: block;
  width: 500px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 0px 0px 1px white, 0px 0px 10px #cccccc;
  -moz-box-shadow: inset 0px 0px 0px 1px white, 0px 0px 10px #cccccc;
  box-shadow: inset 0px 0px 0px 1px white, 0px 0px 10px #cccccc;
  background: #f9f9f9;
  background: rgba(255, 255, 255, 0.85);
  padding: 10px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 50px;
  z-index: 10000;
}
/* line 222, ../sass/screen.scss */
.ui-dialog.small {
  width: auto;
}

/* line 227, ../sass/screen.scss */
.slider {
  display: block;
}

@font-face {
  font-family: 'icons';
  src: url("../icomoon/fonts/icomoon.eot") format("eot"), url("../icomoon/fonts/icomoon.woff") format("woff"), url("../icomoon/fonts/icomoon.ttf") format("truetype");
}
