/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/login.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../sass/login.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/login.scss */
body {
  font-family: 'Lato', sans-serif;
  position: relative;
  background: url("../images/connections.png") center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 17, ../sass/login.scss */
.login-wrap {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px black;
  -moz-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  width: 500px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.65);
}
/* line 46, ../sass/login.scss */
.login-wrap input[type='text'], .login-wrap input[type='password'] {
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 0 6px;
  display: block;
  border: none;
  padding: 6px 8px;
  width: 100%;
  color: #f9f9f9;
  background: #111;
  line-height: 30px;
  font-size: 1.14em;
  border-bottom: 1px solid #3B4E77;
  border-top: 1px solid transparent;
}
/* line 62, ../sass/login.scss */
.login-wrap input[type='text']:focus, .login-wrap input[type='password']:focus {
  border-top: 1px solid #3B4E77;
  background-color: #0e0e0e;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0E0E0E', endColorstr='#FF272A3D');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e0e0e), color-stop(100%, #272a3d));
  background-image: -webkit-linear-gradient(top, #0e0e0e 0%, #272a3d 100%);
  background-image: -moz-linear-gradient(top, #0e0e0e 0%, #272a3d 100%);
  background-image: -o-linear-gradient(top, #0e0e0e 0%, #272a3d 100%);
  background-image: linear-gradient(top, #0e0e0e 0%, #272a3d 100%);
}

/* line 73, ../sass/login.scss */
.button {
  -webkit-box-shadow: 0px 0px 1px white inset;
  -moz-box-shadow: 0px 0px 1px white inset;
  box-shadow: 0px 0px 1px white inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #3f4c6b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3F4C6B', endColorstr='#FF3F4C6B');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f4c6b), color-stop(100%, #3f4c6b));
  background-image: -webkit-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%);
  background-image: -moz-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%);
  background-image: -o-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%);
  background-image: linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%);
  border: 1px solid #222;
  color: #f9f9f9;
  line-height: 2.1;
  font-size: 1.07em;
  padding: 0 10px;
  cursor: pointer;
  margin-left: -2px;
}
/* line 88, ../sass/login.scss */
.button:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 94, ../sass/login.scss */
a {
  float: right;
  margin-top: 10px;
  color: #5976B7;
}
/* line 99, ../sass/login.scss */
a:hover {
  color: #769AE8;
}

/* line 104, ../sass/login.scss */
label span {
  color: #769AE8;
  display: block;
  padding: 0px 0 5px 0;
}
