body {    
    &:after {
        content: "";
        position: fixed;
        display: none;
        left: 0;
        top: 0px;
        width: 100%; 
        height: 100%;
        background: rgba(0,0,0,.8);
        z-index: 9911;
    }

    &.active-modal { 
        overflow: hidden; 
        @include box-shadow(0px 0px 40px #000 inset);
    }

    &.active-modal::after {
        display: block;
    }
}
.modal {
    display: block;
    width: 900px;
    max-width: 100%;
    position: fixed;
    left: 50%;
    z-index: 10000;
    margin-left: -450px;
    top: 3%;
    max-height: 94%;
    overflow: auto;
    background: #f9f9f9;
    padding:  0 20px 10px;
    @include box-shadow(0px 0px 7px #111);
    @include border-radius(4px);
    
    .close-modal {
        position: absolute;
        top: 14px;
        right: 30px;
        cursor: pointer;
    }


    h2 {
        border-bottom: 1px solid #ccc;
        margin: 20px;
        padding-right: 60px;
    }

    img { 
        max-width: 100%; 
    }

    .loader {
        margin: 20px auto;
        display: block;
        width: 32px;
        height: 32px;
    }

    p {
        padding: 20px;
        font-size: 1.3em;
        clear: both;
    }

    button {
        &.js-geocode-go {
            margin: 0 0 0 10px;
            float: left; 
            padding: 0 10px;
            line-height: 1.9;
        }
    }

    dl {
        dt {
            font-size: 1.8em;
            padding: 10px 20px;
            font-weight: 300;

        }

        dd {
            list-style: bullet;
            margin-left: 50px;
            font-size: 1.2em;
            line-height: 1.5;

            &:before {
                content: "-";
            }
        }
    }

}

.geocode-choices {
    display: block;
    margin: 20px auto;
    width: 80%;
    border: 1px solid #ddd;
    @include border-radius(4px);

    li {
        line-height: 1.7;
        font-size: 1.3em;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ddd;
        text-indent: 1.2em;
        cursor: pointer;

        &:first-of-type { @include border-radius(4px 4px 0 0); }
        &:last-of-type { @include border-radius(0 0 4px 4px); }

        &:hover {
            color: $hasLocation;
            background: #f1f1f1;
            text-decoration: underline;
        }

        &.geo-header {
            background: $shadeblue;
            color: #f7f7f7;

            &:hover {
                background: $shadeblue;
            }
        }

        &.icon-location-arrow {
            font-family: $lato;
            position: relative;
        }

        &.icon-location-arrow::before {
            position: absolute;
            right: 10px;
            font-size: 1.4em;
            top: -4px;
            color: $hasLocation;
            text-shadow: 0px 1px 0px #666;
            font-family: 'icomoon';
        }
    }
}