<!DOCTYPE html>
<html>
    <head>
        <title>404: Page Not Found</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' media='screen' href='static/stylesheets/login.css' />
    </head>
    <body>
       <div class="login-wrap">
           <h2>Sorry, this page doesn't exist!</h2>
           <a href="/">Login</a>
           <a href="#" onclick="history.back()">Go Back</a>
       </div>
    </body>
</html>