<!DOCTYPE html>
<html>
    <head>
        <title>News Map Login</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link rel='stylesheet' media='screen' href='static/stylesheets/login.css' />
        <link rel='stylesheet' media='screen' href='static/icomoon/style.css' />
        
    </head>
    <body>
        <div class="login-wrap">
            <form action="/login" method="POST">
                <label>
                    <span>Username:</span>
                    <input type="text" name='username' placeholder='Username'/>
                </label>
                <label>
                    <span>Password:</span>
                    <input type="password" name='password' placeholder='Password' />
                </label>
                <input type="submit" class='button' name='submit' value='Login'> 
                <a href='#'>Forgot your password?</a>
                <a href='#register' class='js-register'>Register</a>
            </form>
        </div>
    
        <div class='none js-register-panel'>
            <h2>Create a new account</h2>
            <form action="/users" method="POST">
                <label class='w6'>
                    <span>Username:</span>
                    <input type="text" name='username' class='w6' placeholder='Username'/>
                </label>
                <label class='w6'>
                    <span>Email:</span>
                    <input type="text" name='email' placeholder='Email' />
                </label>
                <label class='inline w4'>
                    <span>Password:</span>
                    <input type="password" name='password' placeholder='Password' />
                </label>
                <label class='inline w4'>
                    <span>Confirm Password:</span>
                    <input type="password" name='confirm-password' placeholder='Confirm Password' />
                </label>
                <label class='inline w4'>
                    <span>First Name:</span>
                    <input type="text" name='first_name' placeholder='First Name' />
                </label>
                <label class='inline w4'>
                    <span>Last Name:</span>
                    <input type="text" name='last_name' placeholder='Last Name' />
                </label>
                <input type="submit" class='button js-register-submit' name='submit' value='Register'/ > 
            </form>
        </div>

        <script type='text/javascript' src='static/js/jquery.js'></script>
        <script type='text/javascript' src='static/js/general.js'></script>
        <script type='text/javascript' src='static/js/loginreg.js'></script>
    </body>
</html>