<!DOCTYPE html>
<html>
  <head>
    <title>News Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,100|Roboto:300,100' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' media='screen' href='static/stylesheets/screen.css' />
    <link rel='stylesheet' media='screen' href='static/icomoon/style.css' />
  </head>
  <body>
    <script type='text/javascript'>
      window.userid = {{user|safe}}
    </script>
    <section class="map">
      <div class='all-articles'> 
        <input type='text' placeholder='Filter by title' class='js-filter-articles' />
        <i class='icon-arrow-down js-sort-options'></i>
        <ul class='sort-options-list'>
          <li class='header'>Hide...</li>
          <li class='js-filter-param icon-sign-blank' data-param='location' data-switch-icon='icon-check-sign'>Stories with locations</li>
          <li class='js-filter-param icon-sign-blank' data-param='nolocation' data-switch-icon='icon-check-sign'>Stories without locations</li>
          <li class='js-filter-param icon-sign-blank' data-param='favorite' data-switch-icon='icon-check-sign'>Favorites</li>
          <li class='js-filter-param icon-sign-blank' data-param='google' data-switch-icon='icon-check-sign'>Google News</li>
          <li class='js-filter-param icon-sign-blank' data-param='yahoo' data-switch-icon='icon-check-sign'>Yahoo News</li>
          <li class='header'>Sort by...</li>
          <li class='js-sort icon-sign-blank' data-switch-icon='icon-check-sign' data-sort="newest">Newest first</li>
          <li class='js-sort icon-sign-blank' data-switch-icon='icon-check-sign' data-sort="oldest">Oldest first</li>
        </ul>
          <i class='icon-uni65 js-toggle-view' data-switch-icon='icon-uni66'></i>
        <ol class='article-list'>
          <li class='placeholder center p10'>Search for something.</li>
        </ol>
      </div>
      <div class='main-content-wrap'>
        <header>
          <ul class="control-panel ">
            <li><a class='icon-logout' id="logout" title='Logout' href="/logout"></a></li>
            <li><a class='icon-th-large' title='Saved' href='#saved'></a></li>
            <li><a class='icon-settings' title='Settings' href='#settings'></a></li>
          </ul>
          <div class="search-bar">
            <i class='icon-in js-save-query'></i>
            <input placeholder='Search the news' type='text' name='news-term' class='fl js-news-search' value='Bats'/>
            <button class='go fl'>Search</button>  
          </div>
        </header>
        <div class='map-canvas' id='map-canvas'></div>
        <footer>
          <div class='slider-wrap'>
            <div class="timeline-slider" ></div> 
          </div>
          <ul class='timeline-controls'>
            <li class='js-to-start icon-first js-speed-control'></li>
            <li class='js-rewind icon-previous js-speed-control' dir='back' speed='1x' data-tooltip='Rewind Timeline'></li>
            <li class='js-play-timeline icon-play2' data-switch-icon="icon-pause2" data-tooltip='Play Timeline'></li>
            <li class='js-rewind icon-next js-speed-control' dir='back' speed='1x' data-tooltip='Rewind Timeline'></li>
            <li class='js-to-end icon-last js-speed-control'></li>
          </ul>
        </footer>
      </div>
    </section>
    {% include "templates.html" %}
    {% include "scripts.html" %}
  </body>
</html>
