<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type='text/javascript' src='static/js/jquery.js'></script>
<script type='text/javascript' src='static/js/jqueryui.js'></script>
<script type='text/javascript' src='static/js/themes.js'></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoS1bfOyPBTbYH1GhtD4xRs9XrT17nGwg&sensor=true"></script>
<script type='text/javascript' src='static/js/underscore.js'></script>
<script type='text/javascript' src='static/js/backbone.js'></script>
<script type='text/javascript' src='static/js/general.js'></script>
<script type='text/javascript' src='static/js/routes.js'></script>
<script type='text/javascript' src='static/js/models.js'></script>
<script type='text/javascript' src='static/js/views.js'></script>
<script type='text/javascript' src='static/js/storymap.js'></script>
