<script type="text/template" id="article-item">
    <% var u = "undefined" %>
    <a class='article-title' target='_blank' href='<%= typeof unescapedUrl !== u ? unescapedUrl : url %>' title="<%= title %>">
        <%= title %>
    </a>
    
</script>
<script type="text/template" id='storymarker'>
    <% var u = "undefined" %>
    <h3>
        <a target='_blank' href='<%= typeof unescapedUrl !== u ? unescapedUrl : url %>'><%= title %></a>
    </h3>
    <p><%= typeof content !== u ? content : "Sorry, we don't have a snippet here" %></p>
</script>
<script type="text/template" id='main-loading-message'>
    <h2 class='center'>Fetching....</h2>
    <p class='center p10 message'>We are currently pulling news stories together from all over the internet and finding out where they occurred. Hold your horses!</p>
    <img class='loader' src='static/images/loader.gif' />
</script>
<script type="text/template" id='existing-query-item'>
    <%= value %>
</script>
<script type="text/template" id='query-thumb'>
    <% cleanDate = function(date) {return date.getDate() + "/" + parseInt(date.getMonth() + 1) + "/" + date.getFullYear()} %>
    <div class='mask'>
        <h2><%= title %></h2>
        <i class='icon-cw js-load-map'>
        Load</i>
        <div class='created-date'>
            <%= typeof created !== "undefined" && created !== null ? "Created: " + cleanDate(new Date(created)) : " " %>
        </div>
    </div>
</script>
<script type="text/template" id='query-list-help'>
    <h2>Your Saved Queries</h2>
    <p> These are the searches you've saved to your account. While you've been away, we've been making sure to update the map with the current news. Once you've saved a map, there's no need to save it again - it will just be there. Click on a map to see its progress! </p>
    