<script type="text/template" id="date-bubble">
    <span class='date-bubble'>
    <%= date %>
    </span>
</script>

<script type="text/template" id='enter-loc'>
    <p>We weren't able to get location data for this story. If you found some, however, type in the address and we'll geocode it for you so you can have it in the future.</p>
    <div class='mauto w8'>
        <label class='w75 fl'>
            <input type='text' placeholder="Address for '<%= title %>'" class='w10 js-address-value'>
        </label>
        <button class='js-geocode-go'>Geocode</button>
    </div>
    <div class="clear"></div>
    <ul class='geocode-choices'></ul>

</script>
<script type="text/template" id="article-item">
    <% var u = "undefined" %>
    <% var url = typeof unescapedUrl !== u ? unescapedUrl : url %>
    <a class='article-title'>
        <%= title %>
    </a>
    <ul class='mask'>
        <li class='js-show-model icon-expand'>Info</li>
        <!-- <li class='js-favorite-story icon-thumbs-up'></li> -->
        <% if (typeof location === "undefined" || location == window.location || location == "" || location == null) { %>
        <li class='js-set-location icon-location-arrow'>Locate</li>
        <% } %>
        <li title="<%= title %>" class='icon-reply'>
            <a target='_blank' href='<%= url %>'>Story</a>
        </li>
    </ul>
</script>
<script type="text/template" id='storymarker'>
    <% var u = "undefined" %>
    <h3>
        <a target='_blank' href='<%= typeof unescapedUrl !== u ? unescapedUrl : url %>'><%= title %></a>
    </h3>
    <p><%= typeof content !== u ? content : "Sorry, we don't have a snippet here" %></p>
</script>
<script type="text/template" id='main-loading-message'>
    <h2 class='center'>Fetching....</h2>
    <p class='center p10 message'>We are currently pulling news stories together from all over the internet and finding out where they occurred. Hold your horses!</p>
    <img class='loader' src='static/images/loader.gif' />
</script>
<script type="text/template" id='existing-query-item'>
    <%= value %>
</script>
<script type="text/template" id='query-thumb'>
    <% cleanDate = function(date) {return date.getDate() + "/" + parseInt(date.getMonth() + 1) + "/" + date.getFullYear()} %>
    <div class='mask'>
        <h2><%= title %></h2>
        <i class='icon-cw js-load-map'>
        Load</i>
        <div class='created-date'>
            <%= typeof created !== "undefined" && created !== null ? "Created: " + cleanDate(new Date(created)) : " " %>
        </div>
    </div>
</script>
<script type="text/template" id='query-list-help'>
    <h2>Your Saved Queries</h2>
    <p> These are the searches you've saved to your account. While you've been away, we've been making sure to update the map with the current news. Once you've saved a map, there's no need to save it again - it'll just be there. Click on a map to see its progress! </p>
</script>


<script type='text/template' id='quick-story-popup'>
    <% cleanDate = function(date) {return date.getDate() + "/" + parseInt(date.getMonth() + 1) + "/" + date.getFullYear()} %>
    <% var u = "undefined" %>
    <% var url = typeof unescapedUrl !== u ? unescapedUrl : url %>
    <h3>
        <a target='_blank' href='<%= url %>'><%= title %></a>
    </h3>
    <p>
    <% if (typeof location !== "undefined" && location != window.location && location !== null) { %>
        <u><%= location.charAt(0).toUpperCase() + location.slice(1) %></u> - 
    <% } %>
    <%= content %></p>
    <hr>
    <p>
    Published by 
    <%= publisher %> on <%= cleanDate(new Date(date)) %>
    | 
    Retrieved from 
    <%= aggregator %>
    </p>
</script>

<script type='text/template' id='help-template'>
    <h2>Using the News Map</h2>
    <p>The map is broken up into three main portions: The Story List, to the left, where you can see detailed information about stories; the timeline, on the bottom, where you can see temporal relations of stories; and the map itself, where you can see spatial relationships between stories.</p>

    <dl>
        <dt> Story List </dt>
            <dd> Once your query has loaded, the story list can be used to view more informaion about each story returned.</dd>
            <dd> Stories with associated locations show up with a green left border. Stories without have a dark blue. To add a location to a story which does not have one, click the "locate" button and enter the location you found. This will help the visualization be more complete, and your suggestion will make for a better experience for all users.
            </dd>
            <dd>Search for stories that you want to read about in the filter bar, or sort and filter them by other criteria.</dd>
        <dt> Timeline </dt>
            <dd>The timeline can not only be used to see when stories were published, but also to visualize how information spreads. Hover over the timeline to gain access to controls - you can "play" the course of a topic through time and space.</dd>
            <dd> Stories with associated locations show up as light green ticks on the timeline, and those without are dark blue.</dd>
            <dd> Click a tick mark to see its associated story both in the story list and on the map.</dd>
        <dt> Map </dt>
            <dd>Click on a marker on the map to see its associated story in the list.</dd>
    </dl>

</script>

<script type='text/template' id ='geocode-choice'>
    <%= formatted_address %>
</script>