<script type="text/template" id="article-item">
    <span class='article-title'><%= title %></span>
</script>
<script type="text/template" id='storymarker'>
  <% var u = "undefined" %>
  <h3>
    <a target='_blank' href='" + <%= typeof unescapedUrl !== u ? unescapedUrl : "" %> + "'><%= title %></a>
  </h3>
  <p><%= typeof content !== u ? content : "Sorry, we don't have a snippet here" %></p>
</script>
<script type="text/template" id='main-loading-message'>
    <h2 class='center'>Fetching....</h2>
    <p class='center p10 message'>We are currently pulling news stories together from all over the internet and finding out where they occurred. Hold your horses!</p>
</script>